<section id="mission">
  <div class="grid-row">
    <div class="grid-side"></div>
    <div class="grid-content" style="padding:24px;">
      <h2 class="mission-title">What's inside a mission?</h2>
      <p class="mission-sub">Each mission includes one or more of 4 elements</p>
      <div class="mission-grid">
        <div class="mission-row">
          <div class="mission-card">
            <p class="mission-card-title">Self-reflection exercises</p>
            <p class="mission-card-text">We ask questions to get you thinking about principles, trust, structure, etc.</p>
          </div>
          <div class="mission-card">
            <p class="mission-card-title">Real-world experiments</p>
            <p class="mission-card-text">You are given small tasks to try out in the real world</p>
          </div>
        </div>
        <div class="mission-row">
          <div class="mission-card">
            <p class="mission-card-title">Practical tools</p>
            <p class="mission-card-text">Actionable models, questionnaires and checklists that you can implement</p>
          </div>
          <div class="mission-card">
            <p class="mission-card-title">Light theory</p>
            <p class="mission-card-text">Yep, a few key concepts and management frameworks that can come in handy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-side"></div>
  </div>
</section>
