<section id="topics">
  <div class="grid-row">
    <div class="grid-side"></div>
    <div class="grid-content">

      <div class="topics-header">
        <h2 class="topics-title"><strong>Topics</strong> <span>covered in the workshop</span></h2>
        <p class="topics-sub">We have a dedicated mission for each of these themes</p>
      </div>

      <div class="topics-list">
        <p class="topic-item">Decision making</p>
        <p class="topic-item">Delegation</p>
        <p class="topic-item">Managing underperformance</p>
        <p class="topic-item">Conflict management</p>
        <p class="topic-item">Managing up</p>
        <p class="topic-item">Knowing yourself and self-awareness</p>
        <p class="topic-item">Complaints and grievances</p>
        <p class="topic-item">Time management</p>
        <p class="topic-item">Values and principles</p>
        <p class="topic-item">Goal setting</p>
        <p class="topic-item">Roles and task assignment</p>
        <p class="topic-item">Processes</p>
        <p class="topic-item">Monitoring and control</p>
        <p class="topic-item">Continuous improvement</p>
        <p class="topic-item">Knowing your people</p>
        <p class="topic-item">Building trust and a safe environment</p>
        <p class="topic-item">Communication</p>
        <p class="topic-item">Giving and receiving feedback</p>
        <p class="topic-item">Team member development</p>
        <p class="topic-item">Building culture</p>
      </div>

    </div>
    <div class="grid-side"></div>
  </div>
</section>
